<html>
<body>


<%= form_for :categories, :url => category_create_path, :html => {:method => :post}  do |f| %>
  Name: <%= f.text_field :name_category %><br />
  <%= f.submit %>
  <% end %>

<%= form_for :data_news do |f| %>
 Image: <%= f.file_field :image_news %><br />
 Name: <%= f.text_field :news_name %><br />
 News: <%= f.text_field :news_desk %><br />
 num: <%= f.number_field :category_id %><br />
 <%= f.submit %>

 <% end %>


 <tbody>
 <% @news.each do |f| %>
   <tr>
     <tr><%= f.news_name.first(25) %></tr>
     <tr><%= f.news_desk.first(100) %></tr>
     <tr><%= image_tag(f.image_news, :width => 300) if f.image_news.attached?  %></tr>
     <tr><%= link_to "show", page_show_path(f) %></tr>
     <tr><%= link_to "delete", delete_path(f), class: "my_models" %></tr>
     <tr><%= link_to "edit", news_edit_path(f), class: "my_models"%></tr>
   </tr>
 <% end %>
</tbody>
</body>
</html>