<html>
<body>

<p><font size="20" color="orange" face="Times New Roman">News</font></p>
<tbody>
<% @category.each do |f| %>
  <tr>
    <tr><%= f.name_category.first(100) %></tr>
    <tr><%= link_to "show news", page_catalog_path(f) %></tr>
  </tr>
<% end %>
</tbody>
<%= button_to "login", action: "login" %>
 <tbody>
 <% @news.each do |f| %>
   <tr>
     <tr><%= f.news_name.first(25) %></tr>
     <tr><%= f.news_desk.first(100) %></tr>
     <tr><%= image_tag(f.image_news, :width => 300) if f.image_news.attached? %></tr>
     <tr><%= link_to "show", page_show_path(f) %></tr>
   </tr>
 <% end %>
</tbody>
</body>
</html>